body {
	font-family: sans-serif;

}

h1 {
	color: green;
	text-align: center;

}

#image {
	margin-left:10px;
	margin-right:10px;
}

a {
	font-size: 

}

p {
	font-size: 20px;
	color: maroon;
	border: dotted;
	border-width: 3px;


}